*{
    text-decoration: none;
    font-family: sans-serif;

}
body{
    background-color: black;
}
h1{
    margin-top: -2%;
}
.p1{
    margin-right: 120px;
    margin-left: 690px; 
    margin-top: -310px;
    background-color: #5900ff; 
    border-radius: 40px;
    text-align: justify;
    padding: 15px;
    font-size: 19px;
    color: #dddfe2;
    box-shadow: 0 0.8em 4em 5px #5900ff;
}
#imgA{
    background-color: #5900ff;
    padding: 15px;
    border-radius: 40px;
    width: 430px;
    height: 270px;
    align-items: left;
    margin-left: 150px;
    box-shadow: 0 0.8em 4em 5px #5900ff;
}
#voltar{
    width: 50px;
    background-color: #5900ff;
    border-radius: 40%;
}
.rodape{
    background-color: #5900ff ;
    text-align: center;
    padding: 1px;
    left: 0%;
    right: 0%;
    position: fixed;
    bottom: 0px;
  }
  .p_rodape,a{
    color: #d9d9d9;
    font-size: 19px;
   font-weight: 600;
   margin-top: 1%;
   margin-bottom: 1%;
   }
   .letras{
     margin-bottom: 1%;
   }